<nav>
    <div class="nav-wrapper">
      <a routerlink="/inicio" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerlink="/adminstracion/personas">inicio</a></li>
        <li><a routerlink="/adminstracion/inmuebles">Buscar</a></li>
        <li><a routerlink="/seguridad/cambio-clave">quienes somos</a></li>
        <li><a routerlink="/seguridad/cambio-clave">contactar</a></li>
        <li><a routerlink="/seguridad/identificar">iniciar sesion</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a routerlink="/adminstracion/personas">personas</a></li>
    <li><a routerlink="/adminstracion/inmuebles">inmuebles</a></li>
    <li><a routerlink="/seguridad/cambio-clave">cambiar clave</a></li>
    <li><a routerlink="/seguridad/identificar">iniciar sesion</a></li>
  </ul>

